@keyframes fade-in {
    0% {
        position: relative;
        bottom: 50px;
        opacity: 0.5;
    }
    100% {
        position: relative;
        bottom: 0px;
        opacity: 1;
    }
}

#hero {
    * {
        animation: fade-in 0.8s ease-out 0s 1 forwards;
    }
}